$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1400px
) !default;
@import "node_modules/bootstrap/scss/bootstrap";
@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrew.css);
@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrewcondensed.css);

body{
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans Hebrew', serif;
}
header{
  padding: 0 20px;
  padding-bottom: 15px;
  box-shadow: 0 3px 4px 1px rgba(0, 0, 0, 0.37);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 99999;
  height: 97px;
  display: flex;
  align-items: center;
  .logo{
    margin-left: 3%;
  }
  #MainNav{
    ul{
      margin-bottom: 12px;
    }
    > li {
      margin: 0 25px;
    }
    a{
      font-size: 22px!important;
      font-weight: 700;
      line-height: 28px;
      color: #000;
      transition: color .5s;
      &:hover{
        text-decoration: none;
        color: #e88611!important;
      }
    }
  }
  .search-btn{
    margin-bottom: 12px;
    margin-right: 40px;
    img{
      position: relative;
      top: -3px;
    }
  }
  .blog-link{
    margin-bottom: 15px;
    border-right: 1px solid;
    border-left: 1px solid;
    padding: 0 6px;
    margin-right: 10px;
    a{
      position: relative;
      top: 3px;
      font-size: 22px!important;
      font-weight: 700;
      line-height: 1;
      text-decoration: none;
      color: #000;
    }
  }
  .phone{
    margin-bottom: 12px;
    margin-right: 15px;
    a{
      font-size: 22px!important;
      font-weight: 700;
      line-height: 1;
      color: #e88611;
    }
    img{
      position: relative;
      top: -3px;
      margin-left: 4px;
    }
  }
  .contact-btn{
    position: absolute;
    cursor: pointer;
    left: 0;
    top: 0;
    height: 100%;
    padding: 25px;
    background-color: #f49523;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13%;
    text-align: center;
    span{
      color: #ffffff;
      font-size: 20px;
      font-weight: 700;
      line-height: 23.6px;
      text-align: center;
    }
    .btn-triangle{
      position: absolute;
      top: 100%;
      left: calc(50% - 20px);
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid #f49523;
    }
  }
}
.home-slider{
  position: fixed;
  top: 97px;
  z-index: 1;
  left: 0;
  height: calc(100vh - 100px);
  width: 100%;
  .images-slider,
  .slick-track,
  .slick-list{
    height: 100%;
  }
  .slide{
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      display: block;
      width: 100%;
      min-height: 100%;
    }
    .slide-text{
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #000000;
      font-size: 45px;
      font-weight: 700;
      text-align: center;
    }
  }
}
.home-content{
  background-color: #fff;
  z-index: 999;
  position: relative;
  margin-top: 100vh;
}
.top-content{
  padding-top: 60px;
  padding-bottom: 80px;
  color: #000000;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.8;
  text-align: right;
  h1, h2, h3, h4, h5, h6{
    color: #000000;
    font-size: 50px;
    font-weight: 300;
    text-align: right;
    direction: rtl;
    border-bottom: 5px solid #f49523;
    margin-bottom: 40px;
  }
}
.link-btn{
  background-color: #f49523;
  color: #fff;
  padding: 14px 50px;
  transform: scale(1);
  transition: all .5s;
  border: none;
  text-align: center;
  &:hover{
    text-decoration: none;
    color: #fff;
    transform: scale(1.05);
  }
  &.info{
    font-size: 16px;
    font-weight: 400;
  }
  &.fav{
    font-size: 19px;
    font-weight: 400;
    white-space: nowrap;
  }
  &.proj{
    font-size: 15px;
    padding: 10px 30px;
    font-weight: 400;
  }
}
.info-items{
  padding-bottom: 67px;
  border-bottom: 1px solid #a6a6a6;
  margin-bottom: 67px;
  .col{
    .item-title{
      color: #000000;
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 30px;
      text-align: center;
    }
    span{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 137px;
    }
  }
}
.fav-products{
  h3{
    color: #000000;
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 0;
    text-align: right;
  }
  .title-wrap{
    margin-bottom: 70px;
  }
}
.products-slider{
  .slider-container{
    position: relative;
    .prod-nav{
      position: absolute;
      top: 37%;
      display: block;
      width: 67px;
      height: 58px;
      background-color: #f49523;
      background-position: center;
      background-repeat: no-repeat;
      &.prev{
        right: -95px;
        background-image: url(../images/icons/right-arr.png);
      }
      &.next{
        left: -95px;
        background-image: url(../images/icons/left-arr.png);
      }
    }
  }
}
.product-item{
  box-shadow: 0 4px 17px 1px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  color: #000;
  a{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    &:hover{
      text-decoration: none;
      color: inherit;
    }
  }
  .product-thumb{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 285px;
    img{
      display: block;
      max-width: 100%;
    }
  }
  .product-title{
    background-color: #f49523;
    text-align: center;
    padding: 28px 10px;
    color: #ffffff;
    font-size: 26px;
    font-weight: 400;
    width: 100%;
    line-height: 1.2;
  }
  .product-about{
    h1, h2, h3, h4, h5, h6{
      color: #000000;
      font-size: 20px;
      font-weight: 700;
      line-height: 28px;
    }
    min-height: 125px;
    display: block;
    width: 100%;
    padding: 30px;
    padding-bottom: 10px;
    text-align: right;
    direction: rtl;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
  }
  .product-btn{
    margin-right: 30px;
    background-color: #f49523;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    padding: 5px 13px;
    margin-bottom: 20px;
  }
}
.section-title{
  text-align: right;
  color: #000000;
  font-size: 50px;
  font-weight: 300;
  margin-bottom: 50px;
  &.bordered{
    span{
      border-bottom: 5px solid #f49523;
    }
  }
  &.bordered-no-span{
    border-bottom: 5px solid #f49523;
  }
}
.about-projects{
  border-top: 9px solid #f49523;
  box-shadow: 0 4px 17px 1px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  display: flex;
  .p-image{
    min-width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    img{
      height: 100%;
      width: auto;
    }
  }
  .info{
    padding: 70px 30px;
    .proj-info{
      text-align: right;
      direction: rtl;
      h1, h2, h3, h4, h5, h6{
        color: #f49523;
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 15px;
      }
      color: #000000;
      font-size: 15px;
      font-weight: 300;
      line-height: 32px;
    }
  }
}
.hp-proj-row{
  margin-bottom: 135px;
}
.seo-slider{
  .slick-dots{
    display: flex;
    li{
      width: 10px;
      height: 10px;
      background-color: #000;
      border-radius: 50%;
      margin-right: 0;
      margin-left: 15px;
      transition: background-color .5s;
      &:hover{
        background-color: #f49523;
      }
      &.slick-active{
        background-color: #f49523;
      }
      button:before{
        color: transparent;
      }
    }
  }
  .seo-content-wrap{
    .content{
      color: #000000;
      font-size: 19px;
      font-weight: 300;
      line-height: 1.8;
      text-align: right;
      direction: rtl;
    }
  }
}
.wu-row{
  margin-top: 120px;
}
.wu-col{
  max-width: 45%;
  margin-left: 80px;
}
.why-us{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .wu-sin{
    display: flex;
    align-items: center;
    padding-right: 12px;
    padding-left: 20px;
    width: 50%;
    margin-bottom: 40px;
    img{
      display: block;
      margin-left: 19px;
    }
    .title{
      color: #000000;
      font-size: 20px;
      font-weight: 300;
      text-align: right;
    }
  }
}
.contact-details{
  margin-top: 60px;
  display: flex;
  flex-direction: row-reverse;
  box-shadow: 0 4px 17px 1px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  border-top: 5px solid #f49523;
  max-height: 315px;
  .cmp-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    overflow: hidden;
    img{
      width: 100%;
      height: auto;
    }
  }
  .contact-info{
    padding: 40px 35px;
    h4{
      text-align: right;
      color: #f49523;
      font-size: 25px;
      font-weight: 700;
      line-height: 46.76px;
      margin-bottom: 20px;
    }
    li{
      color: #000000;
      font-size: 19px;
      font-weight: 400;
      line-height: 38.07px;
      text-align: right;
      direction: rtl;
      .ic{
        color: #f49523;
        font-size: 19px;
        font-weight: 400;
      }
      a{
        color: #000000;
        text-decoration: none;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}
.clients{
  margin-top: 85px;
  margin-bottom: 143px;
  h3{
    span{
      padding-left: 150px;
    }
  }
  .clients-slider{
    position: relative;
    .cli-slide{
      height: 133px;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        height: 100%;
        width: auto;
      }
    }
    .cli-nav{
      position: absolute;
      top: 40%;
      width: 23px;
      height: 47px;
      background-repeat: no-repeat;
      background-position: center;
      &.prev{
        right: -40px;
        background-image: url(../images/icons/arr_black_right.png);
      }
      &.next{
        left: -40px;
        background-image: url(../images/icons/arr_black_left.png);
      }
    }
  }
}
footer{
  position: relative;
  z-index: 99;
  .footer-top{
    padding-top: 35px;
    padding-bottom: 60px;
    box-shadow: inset 0 -9px 29px rgba(0, 0, 0, 0.35);
    background-color: #696969;
    position: relative;
    .scroll-to-top{
      position: absolute;
      right: 3%;
      bottom: 0;
      cursor: pointer;
    }
    .form-title{
      text-align: right;
      direction: rtl;
      color: #fff;
      font-size: 19px;
      font-weight: 400;
      margin-bottom: 20px;
      .big{
        color: #f49523;
        font-size: 29px;
        font-weight: 700;
      }
    }
  }
}
.footer-form-wrap{
  display: flex;
  border: 1px solid #fff;
  padding: 30px 80px;
  ::placeholder{
    font-size: 16px;
    color: #000;
    font-weight: 400;
  }
  br{
    display: none;
  }
  span{
    display: block;
    padding-left: 6px;
  }
  input{
    height: 40px;
    margin-bottom: 0!important;
    padding: 10px 20px;
    &[type=submit]{
      background-color: #f49523!important;
      color: #fff;
    }
  }
}
.footer-title{
  text-align: right;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 34.93px;
  border-bottom: 1px solid #fff;
}
.footer-nav{
  li{
    text-align: right;
    direction: rtl;
    margin-bottom: 10px;
    padding-right: 15px;
    position: relative;
    &:after{
      content: "";
      position: absolute;
      width: 5px;
      height: 5px;
      background-image: url(../images/icons/tri.png);
      background-position: center;
      background-repeat: no-repeat;
      top: 9px;
      right: 0;
    }
    a{
      color: #ffffff;
      font-size: 18px;
      font-weight: 300;
      line-height: 27.94px;
      text-transform: uppercase;
    }
  }
}
.two-col{
  .footer-nav{
    ul{
      columns: 2;
    }
  }
}
.footer-bottom{
  padding: 11px 0;
  background-color: #f49523;
  .icons{
    display: flex;
    .ficon{
      margin-right: 8px;
      display: block;
      img{
        width: 50px;
        display: block;
        height: auto;
      }
      &.custom{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        &.waze{
          background-color: #7EC0EE;
        }
        &.fb{
          background-color: #3B5998;
        }
        &.youtube{
          background-color: #FF0000;
        }
      }
    }
  }
}
.site-name{
  color: #ffffff;
  font-size: 26px;
  font-weight: 400;
}
.inner-page-header{
  height: 580px;
  position: relative;
  .title-wrap{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    h1{
      color: #000000;
      font-size: 45px;
      font-weight: 700;
    }
  }
  .header-image{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
.post-link{
  display: flex;
  .post-thumb{
    width: 55%;
  }
  .post-preview{
    width: 45%;
  }
}
.archive-container{
  padding: 50px 5%;
  .post-link{
    min-height: 350px;
    box-shadow: -2px 6px 5px 1px rgba(0, 0, 0, 0.19);
    transition: all .5s;
    background-color: #fffcf8;
    margin-bottom: 30px;
    border-top: 7px solid #f49523;
    &:hover{
      text-decoration: none;
      color: #000;
      box-shadow: 1px 10px 10px 5px rgba(0, 0, 0, 0.19);
    }
    .post-thumb{
      display: block;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top center;
    }
    .post-preview{
      padding: 25px 20px;
      direction: rtl;
      text-align: right;
      color: #000000;
      font-size: 14px;
      font-weight: 300;
      line-height: 22px;
      h5{
        color: #f49523;
        font-size: 22px;
        font-weight: 700;
      }
    }
  }
}
.about-content{
  text-align: right;
  direction: rtl;
  margin: 60px 0;
  .col-12{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  h1, h2, h3, h4, h5, h6{
    color: #000000;
    font-size: 50px;
    font-weight: 300;
    border-bottom: 5px solid #f49523;
    margin-bottom: 30px;
  }
  p{
    color: #000000;
    font-size: 19px;
    font-weight: 300;
    line-height: 46px;
  }
}
.about-links{
  color: #000000;
  font-size: 50px;
  font-weight: 300;
  margin-bottom: 30px;
  h2{
    color: #000000;
    font-size: 50px;
    font-weight: 300;
    text-align: right;
    direction: rtl;
    margin-bottom: 25px;
  }
  .links-wrap{
    flex-wrap: wrap;
    .ab-link{
      width: calc(33% - 15px);
      margin-bottom: 30px;
      a{
        display: block;
        height: 390px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        box-shadow: 0 4px 17px 1px rgba(0, 0, 0, 0.15);
        background-color: #ffffff;
        .ab-title{
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          background-color: #f49523;
          color: #ffffff;
          font-size: 27px;
          font-weight: 700;
          padding: 15px;
          text-align: center;
          margin-bottom: 0;
        }
      }
    }
  }
}
.video-slider{
  position: relative;
  .vid-nav{
    position: absolute;
    top: 40%;
    width: 23px;
    height: 47px;
    background-repeat: no-repeat;
    background-position: center;
    &.prev{
      right: -40px;
      background-image: url(../images/icons/arr_black_right.png);
    }
    &.next{
      left: -40px;
      background-image: url(../images/icons/arr_black_left.png);
    }
  }
  .video-slide{
    padding: 5px;
    .video-thumb{
      display: flex;
      height: 300px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      cursor: pointer;
      position: relative;
      .video-title{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        color: #ffffff;
        font-size: 21px;
        font-weight: 400;
        text-align: center;
        direction: rtl;
        padding: 15px 10px;
        background-color: #f49523;
        margin-bottom: 0;
      }
    }
  }
}
#youtube-frame{
  display: block;
  width: 100%;
  height: 500px;
}
.modal-header{
  align-items: center;
  justify-content: space-between;
}
.product-preview{
  border-top: 5px solid #f49523;
  box-shadow: 1px 10px 10px 5px rgba(0, 0, 0, 0.19);
  background-color: #fff;
  display: flex;
  .image-focus{
    width: 50%;
    height: 470px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .images-thumbs{
    display: flex;
    .thumb-btn{
      overflow: hidden;
      flex: 1;
      height: 140px;
      border: 1px solid;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer;
      &:first-child{
        margin-left: 10px;
      }
      img{
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }
  .info{
    width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .info-content{
      h1, h2, h3, h4, h5, h6{
        text-align: right;
        color: #000000;
        font-size: 30px;
        font-weight: 700;
      }
      color: #000000;
      text-align: right;
      font-size: 16px;
      font-weight: 300;
      line-height: 30px;
    }
  }
}
.prod-info-row{
  padding-bottom: 20px;
  border-bottom: 1px solid;
  margin-bottom: 30px;
  h6{
    color: #000000;
    text-align: right;
    font-size: 30px;
    font-weight: 700;
  }
  .pir-content{
    color: #000000;
    text-align: right;
    font-size: 19px;
    font-weight: 300;
    line-height: 42.98px;
  }
}
.prod-links{
  margin-top: 60px;
  margin-bottom: 60px;
  a{
    display: flex;
    align-items: center;
    justify-content: center;
    .icon{
      padding-left: 15px;
    }
    &:hover{
      text-decoration: none;
    }
    .text{
      display: flex;
      flex-direction: column;
      color: #000000;
      font-size: 21px;
      font-weight: 300;
      line-height: 1.2;
      text-align: right;
      .bld{
        font-weight: 700;
      }
    }
  }
}
.product-accordion{
  .down-card-header{
    box-shadow: -8px 0 9px 1px rgba(0, 0, 0, 0.18);
    background-color: #ffffff;
    padding: 22px 80px;
    margin-bottom: 20px;
    background-image: url(../images/icons/arr_left.png);
    background-repeat: no-repeat;
    background-position: 50px center;
    cursor: pointer;
    h2{
      text-align: right;
      color: #f49523;
      font-size: 22px;
      font-weight: 700;
      span{
        display: block;
        width: 100%;
      }
    }
  }
  .card-body{
    text-align: right;
    direction: rtl;
    display: flex;
    flex-direction: column;
    a{

    }
  }
}
.cat-desc{
  color: #000000;
  padding-top: 30px;
  font-size: 19px;
  font-weight: 300;
  line-height: 46px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: right;
  h1, h2, h3, h4, h5, h6{
    color: #000000;
    font-size: 50px;
    font-weight: 300;
    border-bottom: 5px solid #f49523;
    margin-bottom: 30px;
  }
}
.prod-list-cat{
  .filter{
    box-shadow: -3px -2px 5px 1px rgba(0, 0, 0, 0.24);
    background-color: #f7f7f7;
    padding: 90px 30px;
    height: calc(100% - 15px);
    form{
      input[type=checkbox]{
        width: 21px;
        height: 21px;
        border: 1px solid #a6a6a6;
      }
      .cat-list{
        display: flex;
        flex-direction: column;
        .checkbox-wrap{
          display: flex;
          align-items: center;
          padding: 10px 0;
          .label{
            color: #000000;
            font-size: 22px;
            font-weight: 400;
            padding-right: 10px;
          }
        }
      }
    }
  }
}
.term-desc{
  padding-left: 8%;
  padding-right: 20%;
}

.products-box{
  padding: 0 8%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .prod-in-list{
    width: calc(25% - 15px);
    a{
      &:hover{
        text-decoration: none;
      }
    }
    &.shadow{
      box-shadow: 0 4px 17px 1px rgba(0, 0, 0, 0.15);
      margin-bottom: 20px;
      background: #f49523;
      transition: all .5s;
      &:hover{
        box-shadow: 0 10px 25px 1px rgba(0, 0, 0, 0.9);
      }
    }
    .product-thumb{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 270px;
      background-color: #ffffff;
      img{
        display: block;
        width: 90%;
        height: auto;
        max-height: 100%;
      }
    }
  }
}
.prod-info-inb{
  background: #f49523;
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  height: 168px;
  justify-content: space-between;
  .name{
    text-align: center;
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
    line-height: 1.2;
  }
  .text-prev{
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 21px;
    text-align: center;
  }
}
.top-contact-form{
  position: fixed;
  left: 0;
  top: 97px;
  min-width: 194px;
  width: 13%;
  background-color: #f49523;
  padding: 30px 15px;
  z-index: 10;
  transition: all .5s;
  transform: translateY(-100%);
  &.show{
    transform: translateY(0);
  }
  input[type=submit]{
    background-color: #000!important;
    color: #f49523!important;
  }
}
@media only screen and (max-width : 1600px){
  header .logo{
    margin-left: 0;
  }
}

@media only screen and (max-width : 1572px){
  .slick-arrow.prev{
    right: 0!important;
    z-index: 9999999;
  }
  .slick-arrow.next{
    left: 0!important;
    z-index: 9999999;
  }
}

@media only screen and (max-width : 1520px){
  header #MainNav a{
    font-size: 19px!important;
  }
  nav#MainNav div.main_menu > ul > li{
    padding: 0 9px;
  }
}

@media only screen and (max-width : 1334px){
  .logo a img{
    max-width: 225px;
  }
  .inner-page-header{
    height: 397px;
  }
  .products-box .prod-in-list{
    width: calc(33% - 15px);
  }
}

@media only screen and (max-width : 1240px){
  .blog-link, .search-btn{
    display: none!important;
  }
}

@media only screen and (max-width : 1090px) {
  .contact-details .cmp-img {
      display: none;
  }
}

@media only screen and (max-width : 990px) {
  .logo a img{
    max-width: 130px;
  }
  header #MainNav a{
    font-size: 17px;
  }
  header #MainNav ul{
    margin-bottom: 0;
  }
  header .phone a{
    font-size: 15px!important;
  }
  header .phone{
    margin: 0;
  }
  .home-slider{
    height: calc(70vh - 100px);
  }
  .home-content{
    margin-top: 70vh;
  }
  .about-projects{
    flex-direction: column;
  }
  .why-us .wu-sin{
    width: 100%;
  }
  .contact-details{
    max-height: none;
  }
  .products-box .prod-in-list{
    width: calc(50% - 15px);
  }
  .prod-list-cat .filter form .cat-list .checkbox-wrap .label{
    text-align: right;
    font-size: 15px;
  }
  .post-link .post-preview{
    width: 100%;
  }
  .archive-container .post-link{
    flex-direction: column-reverse;
  }
  .post-link .post-thumb{
    width: 100%;
    height: 250px;
  }
}

@media only screen and (max-width : 800px){
  .search-btn,
  .blog-link,
  .phone,
  .contact-btn,
  .top-contact-form{
    display: none!important;
  }
  header .logo{
    margin-left: 0;
    max-width: 40%;
  }
  header{
    height: 52px;
    padding: 10px 10px!important;
    .row{
      flex-direction: row-reverse;
    }
  }
  .about-projects{
    flex-direction: column;
  }
  .contact-details{
    flex-direction: column;
  }
  .wu-col{
    max-width: 100%;
  }
  .products-slider .slider-container .prod-nav.next{
    left: 0;
    width: 20px;
    height: 48px;
  }
  .products-slider .slider-container .prod-nav.prev{
    right: 0;
    width: 20px;
    height: 48px;
  }
  .home-slider{
    position: fixed;
    top: 47px;
    z-index: 1;
    left: 0;
    height: 300px;
    width: 100%;
  }
  .home-slider .slide .slide-text{
    font-size: 24px;
  }
  .home-content{
    margin-top: 337px;
  }
  .clients .clients-slider .cli-nav.next{
    left: 0;
  }
  .clients .clients-slider .cli-nav.prev{
    right: 0;
  }
  nav#MainNav a{
    width: 100%;
    direction: rtl;
    padding-right: 15px!important;
    padding-left: 0!important;
    text-align: right;
  }
  .top-content h1, .top-content h2, .top-content h3, .top-content h4, .top-content h5, .top-content h6{
    font-size: 27px;
  }
  .top-content{
    padding-top: 20px;
    font-size: 16px;
  }
  .top-content h1, .top-content h2, .top-content h3, .top-content h4, .top-content h5, .top-content h6{
    margin-bottom: 20px;
  }
  .info-items{
    .item-title{
      text-align: center;
    }
  }
  .fav-products h3{
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
  }
  .info-items{
    margin-bottom: 10px;
  }
  .fav-products .title-wrap{
    margin-bottom: 15px;
  }
  .section-title{
    font-size: 30px;
    margin-bottom: 15px;
  }
  .about-projects .info{
    padding: 30px;
  }
  .about-projects .p-image img{
    height: auto;
  }
  .hp-proj-row{
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .section-title.bordered span{
    line-height: 1.4;
  }
  .wu-row{
    margin-top: 30px;
  }
  .why-us .wu-sin .title{
    text-align: center;
  }
  .clients h3 span{
    padding-left: 15px;
  }
  .footer-form-wrap{
    flex-direction: column;
    padding: 10px;
  }
  .footer-form-wrap span{
    padding-left: 0;
    margin-bottom: 10px;
  }
  .inner-page-header{
    margin-top: 52px;
    height: 120px;
  }
  .about-content h1, .about-content h2, .about-content h3, .about-content h4, .about-content h5, .about-content h6{
    font-size: 27px;
  }
  .about-content{
    margin-top: 20px;
  }
  .about-content p{
    font-size: 17px;
    line-height: 1.4;
  }
  .about-links h2{
    font-size: 32px;
  }
  .about-links .links-wrap .ab-link{
    width: 100%;
  }
  .map-img{
    img{
      width: 100%;
    }
  }
  .products-box .prod-in-list{
    width: 100%;
  }
  .term-desc{
    padding-right: 15px!important;
    padding-left: 15px!important;
  }
  .products-box{
    padding: 10px;
  }
  .cat-desc h1, .cat-desc h2, .cat-desc h3, .cat-desc h4, .cat-desc h5, .cat-desc h6{
    font-size: 30px;
  }
  .cat-desc{
    line-height: 1.4;
    font-size: 17px;
  }
  .prod-list-cat .filter{
    padding: 40px 25px;
  }
  .inner-page-header .title-wrap h1{
    text-align: center;
    font-size: 34px;
    padding: 0 15px;
  }
  .product-preview{
    flex-direction: column-reverse;
    .info{
      width: 100%;
    }
    .image-focus{
      width: 100%;
      height: 285px;
      overflow: hidden;
    }
  }
  .product-preview .info{
    padding: 10px;
    .info-content{
      margin-bottom: 20px;
    }
  }
  .prod-info-row .pir-content{
    font-size: 17px;
    line-height: 34.98px;
  }
  .prod-links a{
    margin-bottom: 20px;
    justify-content: space-between;
  }
  .product-accordion .down-card-header{
    padding: 22px 30px;
  }
  .video-slider .video-slide{
    padding: 25px;
  }
  .video-slider .vid-nav.next{
    left: 0;
  }
  .video-slider .vid-nav.prev{
    right: 0;
  }
  .why-us .wu-sin{
    width: 100% ;
  }
  .post-link{
    flex-direction: column-reverse;
  }
  .post-link .post-preview{
    width: 100%;
  }
  .post-link .post-thumb{
    width: 100%;
    height: 200px;
  }
}

